.container {
            margin-right:0px ;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .container h2{
          color:#0034FF;
          text-align:center;;
        }
        button {

  background-color: #04AA6D;

  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
  }
input[type=text], input[type=number],input[type=password], input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.radi input{
  vertical-align:middle;
}
input[type=username]{
  width:0px;
  color:white;
  border-color:white;
  border:2px solid  white ;
}
.b09 li{
  padding-right:5%;
  display:inline;

}